@model List<Blogy.EntityLayer.Concrete.Comment>
@{
    ViewData["Title"] = "BlogArticleComment";
    Layout = "~/Views/WriterLayout/Index.cshtml";
    int count = 0;
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">Makaleye Ait Yorumlar</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Bloglar</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Blog Yorumları </li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Makaleye Ait Yorum Listesi</h4>
                    <p class="card-description">
                        Aşağıdaki tablodan makaleye ait yorumları görüntüleyebilir, üzerlerinde işlem yapabilirsiniz.
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Adı Soyadı</th>
                                    <th>Tarih</th>
                                    <th>Sil</th>
                                    <th>Yorumu Oku</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.NameSurname</td>
                                        <td>@(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy"))</td>
                                        <td><a href="/Writer/Comment/DeleteComment/@item.CommentId" class="btn btn-outline-danger">Sil</a></td>
                                        <td><a href="/Writer/Comment/ReadComment/@item.CommentId" class="btn btn-outline-primary">Yorumu Oku</a></td>


                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

