﻿<div class="sidebar-box">
    <h3 class="heading">Etiketler</h3>
    <ul class="tags">
        <li><a href="#">Seyahat</a></li>
        <li><a href="#">Macera</a></li>
        <li><a href="#">Yemek</a></li>
        <li><a href="#">Sağlıklı Yaşam</a></li>
        <li><a href="#">Yaşam Tarzı</a></li>
        <li><a href="#">Serbest Çalışma</a></li>
        
      
    </ul>
</div>
