
<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="widget">
					<h3 class="mb-4">Hakkımızda</h3>
					<p>Uzak uzak diyarlarda birbirinden yetenekli blogger ve yazarlarımızla güncel ve ilgi çekici konularda ,içerik üretmeye devam ediyoruz.</p>
				</div> <!-- /.widget -->
				<div class="widget">
					<h3>Social</h3>
					<ul class="list-unstyled social">
						<li><a href="#"><span class="icon-instagram"></span></a></li>
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
						<li><a href="#"><span class="icon-linkedin"></span></a></li>
						<li><a href="#"><span class="icon-pinterest"></span></a></li>
						<li><a href="#"><span class="icon-dribbble"></span></a></li>
					</ul>
				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
			<div class="col-lg-4 ps-lg-5">
				<div class="widget">
					<h3 class="mb-4">Şirketimiz</h3>
					<ul class="list-unstyled float-start links">
						<li><a href="#">Hakkımızda</a></li>
						<li><a href="#">Hizmetler</a></li>
						<li><a href="#">Vizyonumuz</a></li>
						<li><a href="#">Misyonumuz</a></li>
						<li><a href="#">Şartlar Kurallar</a></li>
						<li><a href="#">Güvenlik</a></li>
					</ul>
					<ul class="list-unstyled float-start links">
						<li><a href="#">Partnerlerimiz</a></li>
						<li><a href="#">İş Ortaklarımız</a></li>
						<li><a href="#">Reklam</a></li>
						<li><a href="#">Bloglar</a></li>
						<li><a href="#">Sık Sorulanlar</a></li>
						<li><a href="#">Giriş Yap</a></li>
					</ul>
				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<div class="widget">
					<h3 class="mb-4">Recent Post Entry</h3>
					<div class="post-entry-footer">
						<ul>
							<li>
								<a href="">
									<img src="images/img_1_sq.jpg" alt="Image placeholder" class="me-4 rounded">
									<div class="text">
										<h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
										<div class="post-meta">
											<span class="mr-2">March 15, 2018 </span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/img_2_sq.jpg" alt="Image placeholder" class="me-4 rounded">
									<div class="text">
										<h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
										<div class="post-meta">
											<span class="mr-2">March 15, 2018 </span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<img src="images/img_3_sq.jpg" alt="Image placeholder" class="me-4 rounded">
									<div class="text">
										<h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
										<div class="post-meta">
											<span class="mr-2">March 15, 2018 </span>
										</div>
									</div>
								</a>
							</li>
						</ul>
					</div>


				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
		</div> <!-- /.row -->

		<div class="row mt-5">
			<div class="col-12 text-center">
				<!--
					**==========
					NOTE:
					Please don't remove this copyright link unless you buy the license here https://untree.co/license/
					**==========
				  -->

				<p>
					Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a>  Distributed by <a href="https://themewagon.com">ThemeWagon</a> <!-- License information: https://untree.co/license/ -->
				</p>
			</div>
		</div>
	</div> <!-- /.container -->
</footer>