@model CreateRegisterViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <form method="post">
    <br /><br />
    <label>Adınız</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>Soyadınız</label>
    <input type="text" class="form-control" asp-for="Surname"/>
    <br />
    <label>Kullanıcı Adınız</label>
    <input type="text" class="form-control" asp-for="Username"/>
    <br />
   
    <label>Email Adresiniz</label>
    <input type="text" class="form-control" asp-for="Email" />
    <br />
    <label>Şifre</label>
    <input type="text" class="form-control"  asp-for="Password"/>
    <br />
    
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <br />
    <button class="btn btn-info">Kayıt Ol</button>
    </form>
</div>
