@model List<Article>
<section class="section posts-entry posts-entry-sm bg-light">
    <div class="container">
        <div class="row mb-4">
            <div class="col-12 text-uppercase text-black">Son 4 Blog</div>
        </div>
        <div class="row">
             @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="blog-entry">
                        <a href="single.html" class="img-link">
                            <img src="@item.CoverImageUrl" alt="Image" style="height:200px"  class="img-fluid">
                        </a>
                        <span class="date">@item.CreatedDate.ToString("dd-MM-yyyy")</span>

                        <p>@Html.Raw(item.Description.Substring(0, 80))</p>
                        <p><a href="/Blog/BlogDetail/@item.ArticleId" class="read-more">Devamını Okuyun...</a></p>
                    </div>
                </div>

            }
            
        </div>
    </div>
</section>