
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Writer/Views/WriterLayout/Index.cshtml";
}

<div class="row">
    <div class="col-sm-12 mt-3">
        <h3>İstatistikler</h3>
    </div>
    <div class="col-xl-12 col-lg-12 stretch-card grid-margin">
        <div class="col-3 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
            <div class="card bg-warning">
                <div class="card-body px-3 py-4">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="color-card">
                            <p class="mb-0 color-card-head">Makale Sayısı</p>
                            <h2 class="text-white">
                                @ViewBag.blogsayisi
                            </h2>
                        </div>
                        <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
                    </div>
                    <h6 class="text-white">Tüm Bloglar</h6>
                </div>
            </div>
        </div>
        


    <div class="col-3 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
        <div class="card bg-success">
            <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="color-card">
                        <p class="mb-0 color-card-head">Bildirimler</p>
                        <h2 class="text-white">
                            @ViewBag.bildirimsayisi
                        </h2>
                    </div>
                    <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                </div>
                <h6 class="text-white">Tüm Bildirimler</h6>
            </div>
        </div>
    </div

    <div class="col-3 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                                        <div class="card bg-danger">
                                            <div class="card-body px-3 py-4">
                                                <div class="d-flex justify-content-between align-items-start">
                                                    <div class="color-card">
                                                        <p class="mb-0 color-card-head">Mesajlar</p>
                                                        <h2 class="text-white">
                                                        @ViewBag.mesajsayisi
                                                        </h2>
                                                    </div>
                                                    <i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
                                                </div>
                                            <h6 class="text-white">Tüm  Mesajlar</h6>
                                            </div>
                                        </div>
                                    </div>


     
    </div>
</div>

